# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/
env.bak/

# Build artifacts
build/
dist/
*.egg-info/

# IDE settings
.vscode/
.idea/

# Environment variables or OS files
.env
.DS_Store
Thumbs.db
